@import '~bootstrap/scss/bootstrap';

// div {
//     /* width: 100px;
//     height: 100px; */
//     text-align: center;
//     font-family: 'Press Start 2P', cursive;
//     font-size: 2em;
// }

div div {
    border: 2px solid black;
}

#game-grid {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    justify-content: center;
}